<a href="https://colab.research.google.com/github/springboardmentor1979b-cmyk/ScoreSight---Predicting-EPL-Points-Tally-Top-Scorer/blob/vishal_umare/Epl_score_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
file_path ='/content/drive/MyDrive/Internship/dataset_epl.csv'

In [ ]:
import pandas as pd
df=pd.read_csv(file_path)
print(df)

                     Name  Jersey Number                     Club    Position  \
0              Bernd Leno            1.0                  Arsenal  Goalkeeper
1              Matt Macey           33.0                  Arsenal  Goalkeeper
2    Rúnar Alex Rúnarsson           13.0                  Arsenal  Goalkeeper
3         Héctor Bellerín            2.0                  Arsenal    Defender
4          Kieran Tierney            3.0                  Arsenal    Defender
..                    ...            ...                      ...         ...
566            Pedro Neto            7.0  Wolverhampton-Wanderers     Forward
567          Raúl Jiménez            9.0  Wolverhampton-Wanderers     Forward
568          Adama Traoré           37.0  Wolverhampton-Wanderers     Forward
569           Fábio Silva           17.0  Wolverhampton-Wanderers     Forward
570      Leonardo Campana           30.0  Wolverhampton-Wanderers     Forward

    Nationality   Age  Appearances  Wins  Losses  Goals  ...  Punches  \
0       Germany  28.0           64    28      16      0  ...     34.0
1       England  26.0            0     0       0      0  ...      0.0
2       Iceland  25.0            0     0       0      0  ...      0.0
3         Spain  25.0          160    90      37      7  ...      NaN
4      Scotland  23.0           16     7       5      1  ...      NaN
..          ...   ...          ...   ...     ...    ...  ...      ...
566    Portugal  20.0           31    14       7      3  ...      NaN
567      Mexico  29.0           78    32      23     32  ...      NaN
568       Spain  24.0          105    27      47      5  ...      NaN
569    Portugal  18.0            1     0       1      0  ...      NaN
570     Ecuador  20.0            0     0       0      0  ...      NaN

     High Claims  Catches  Sweeper clearances  Throw outs  Goal Kicks  \
0           26.0     17.0                28.0       375.0       489.0
1            0.0      0.0                 0.0         0.0         0.0
2            0.0      0.0                 0.0         0.0         0.0
3            NaN      NaN                 NaN         NaN         NaN
4            NaN      NaN                 NaN         NaN         NaN
..           ...      ...                 ...         ...         ...
566          NaN      NaN                 NaN         NaN         NaN
567          NaN      NaN                 NaN         NaN         NaN
568          NaN      NaN                 NaN         NaN         NaN
569          NaN      NaN                 NaN         NaN         NaN
570          NaN      NaN                 NaN         NaN         NaN

     Yellow cards  Red cards Fouls  Offsides
0               2          0     0       NaN
1               0          0     0       NaN
2               0          0     0       NaN
3              23          0   125       8.0
4               2          0     9       0.0
..            ...        ...   ...       ...
566             3          0    16       5.0
567             7          0    81      52.0
568             4          0    80      13.0
569             0          0     0       0.0
570             0          0     0       0.0

[571 rows x 59 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 59 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    571 non-null    object
 1   Jersey Number           563 non-null    float64
 2   Club                    571 non-null    object
 3   Position                571 non-null    object
 4   Nationality             570 non-null    object
 5   Age                     570 non-null    float64
 6   Appearances             571 non-null    int64
 7   Wins                    571 non-null    int64
 8   Losses                  571 non-null    int64
 9   Goals                   571 non-null    int64
 10  Goals per match         309 non-null    float64
 11  Headed goals            502 non-null    float64
 12  Goals with right foot   502 non-null    float64
 13  Goals with left foot    502 non-null    float64
 14  Penalties scored        309 non-null    float64
 15  Freekicks scored        309 non-null    float64
 16  Shots                   309 non-null    float64
 17  Shots on target         309 non-null    float64
 18  Shooting accuracy %     309 non-null    object
 19  Hit woodwork            502 non-null    float64
 20  Big chances missed      309 non-null    float64
 21  Clean sheets            262 non-null    float64
 22  Goals conceded          262 non-null    float64
 23  Tackles                 502 non-null    float64
 24  Tackle success %        390 non-null    object
 25  Last man tackles        193 non-null    float64
 26  Blocked shots           502 non-null    float64
 27  Interceptions           502 non-null    float64
 28  Clearances              502 non-null    float64
 29  Headed Clearance        502 non-null    float64
 30  Clearances off line     193 non-null    float64
 31  Recoveries              390 non-null    float64
 32  Duels won               390 non-null    float64
 33  Duels lost              390 non-null    float64
 34  Successful 50/50s       390 non-null    float64
 35  Aerial battles won      390 non-null    float64
 36  Aerial battles lost     390 non-null    float64
 37  Own goals               262 non-null    float64
 38  Errors leading to goal  459 non-null    float64
 39  Assists                 571 non-null    int64
 40  Passes                  571 non-null    int64
 41  Passes per match        571 non-null    float64
 42  Big chances created     502 non-null    float64
 43  Crosses                 502 non-null    float64
 44  Cross accuracy %        390 non-null    object
 45  Through balls           390 non-null    float64
 46  Accurate long balls     459 non-null    float64
 47  Saves                   69 non-null     float64
 48  Penalties saved         69 non-null     float64
 49  Punches                 69 non-null     float64
 50  High Claims             69 non-null     float64
 51  Catches                 69 non-null     float64
 52  Sweeper clearances      69 non-null     float64
 53  Throw outs              69 non-null     float64
 54  Goal Kicks              69 non-null     float64
 55  Yellow cards            571 non-null    int64
 56  Red cards               571 non-null    int64
 57  Fouls                   571 non-null    int64
 58  Offsides                502 non-null    float64
dtypes: float64(43), int64(9), object(7)
memory usage: 263.3+ KB

In [ ]:
df.shape

(571, 59)

In [ ]:
df.head(10)

,Name,Jersey Number,Club,Position,Nationality,Age,Appearances,Wins,Losses,Goals,...,Punches,High Claims,Catches,Sweeper clearances,Throw outs,Goal Kicks,Yellow cards,Red cards,Fouls,Offsides
0,Bernd Leno,1.0,Arsenal,Goalkeeper,Germany,28.0,64,28,16,0,...,34.0,26.0,17.0,28.0,375.0,489.0,2,0,0,NaN
1,Matt Macey,33.0,Arsenal,Goalkeeper,England,26.0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN
2,Rúnar Alex Rúnarsson,13.0,Arsenal,Goalkeeper,Iceland,25.0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN
3,Héctor Bellerín,2.0,Arsenal,Defender,Spain,25.0,160,90,37,7,...,NaN,NaN,NaN,NaN,NaN,NaN,23,0,125,8.0
4,Kieran Tierney,3.0,Arsenal,Defender,Scotland,23.0,16,7,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,2,0,9,0.0
5,William Saliba,4.0,Arsenal,Defender,France,19.0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0.0
6,Sokratis,5.0,Arsenal,Defender,Greece,32.0,44,21,11,3,...,NaN,NaN,NaN,NaN,NaN,NaN,18,0,56,1.0
7,Rob Holding,16.0,Arsenal,Defender,England,25.0,41,25,9,0,...,NaN,NaN,NaN,NaN,NaN,NaN,8,0,32,0.0
8,Shkodran Mustafi,20.0,Arsenal,Defender,Germany,28.0,99,52,26,7,...,NaN,NaN,NaN,NaN,NaN,NaN,28,0,117,7.0
9,Calum Chambers,21.0,Arsenal,Defender,England,25.0,139,47,57,6,...,NaN,NaN,NaN,NaN,NaN,NaN,28,1,137,2.0

In [ ]:
df.tail(3)

,Name,Jersey Number,Club,Position,Nationality,Age,Appearances,Wins,Losses,Goals,...,Punches,High Claims,Catches,Sweeper clearances,Throw outs,Goal Kicks,Yellow cards,Red cards,Fouls,Offsides
568,Adama Traoré,37.0,Wolverhampton-Wanderers,Forward,Spain,24.0,105,27,47,5,...,NaN,NaN,NaN,NaN,NaN,NaN,4,0,80,13.0
569,Fábio Silva,17.0,Wolverhampton-Wanderers,Forward,Portugal,18.0,1,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0.0
570,Leonardo Campana,30.0,Wolverhampton-Wanderers,Forward,Ecuador,20.0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0.0

In [ ]:
df.describe

<bound method NDFrame.describe of                      Name  Jersey Number                     Club    Position  \
0              Bernd Leno            1.0                  Arsenal  Goalkeeper
1              Matt Macey           33.0                  Arsenal  Goalkeeper
2    Rúnar Alex Rúnarsson           13.0                  Arsenal  Goalkeeper
3         Héctor Bellerín            2.0                  Arsenal    Defender
4          Kieran Tierney            3.0                  Arsenal    Defender
..                    ...            ...                      ...         ...
566            Pedro Neto            7.0  Wolverhampton-Wanderers     Forward
567          Raúl Jiménez            9.0  Wolverhampton-Wanderers     Forward
568          Adama Traoré           37.0  Wolverhampton-Wanderers     Forward
569           Fábio Silva           17.0  Wolverhampton-Wanderers     Forward
570      Leonardo Campana           30.0  Wolverhampton-Wanderers     Forward

    Nationality   Age  Appearances  Wins  Losses  Goals  ...  Punches  \
0       Germany  28.0           64    28      16      0  ...     34.0
1       England  26.0            0     0       0      0  ...      0.0
2       Iceland  25.0            0     0       0      0  ...      0.0
3         Spain  25.0          160    90      37      7  ...      NaN
4      Scotland  23.0           16     7       5      1  ...      NaN
..          ...   ...          ...   ...     ...    ...  ...      ...
566    Portugal  20.0           31    14       7      3  ...      NaN
567      Mexico  29.0           78    32      23     32  ...      NaN
568       Spain  24.0          105    27      47      5  ...      NaN
569    Portugal  18.0            1     0       1      0  ...      NaN
570     Ecuador  20.0            0     0       0      0  ...      NaN

     High Claims  Catches  Sweeper clearances  Throw outs  Goal Kicks  \
0           26.0     17.0                28.0       375.0       489.0
1            0.0      0.0                 0.0         0.0         0.0
2            0.0      0.0                 0.0         0.0         0.0
3            NaN      NaN                 NaN         NaN         NaN
4            NaN      NaN                 NaN         NaN         NaN
..           ...      ...                 ...         ...         ...
566          NaN      NaN                 NaN         NaN         NaN
567          NaN      NaN                 NaN         NaN         NaN
568          NaN      NaN                 NaN         NaN         NaN
569          NaN      NaN                 NaN         NaN         NaN
570          NaN      NaN                 NaN         NaN         NaN

     Yellow cards  Red cards Fouls  Offsides
0               2          0     0       NaN
1               0          0     0       NaN
2               0          0     0       NaN
3              23          0   125       8.0
4               2          0     9       0.0
..            ...        ...   ...       ...
566             3          0    16       5.0
567             7          0    81      52.0
568             4          0    80      13.0
569             0          0     0       0.0
570             0          0     0       0.0

[571 rows x 59 columns]>

**Task 1. Identify which column are useful for predicting player performance**

In [ ]:
useful_columns = [
    'Appearances', 'Goals', 'Assists', 'Shots', 'Passes',
    'Tackles', 'Interceptions', 'Dribbles', 'Crosses',
    'Minutes'
]

[c for c in useful_columns if c in df.columns]

['Appearances',
 'Goals',
 'Assists',
 'Shots',
 'Passes',
 'Tackles',
 'Interceptions',
 'Crosses']

**Task 2.Make a short note of irrelevant column**

In [ ]:
irrelevant_columns = ['Name', 'Club', 'Jersey Number', 'Nationality']
[c for c in irrelevant_columns if c in df.columns]

# Certain columns in the dataset - such as Name, Jersey Number, and Nationality - do not have any direct influence on a player's on-field performance
# These attributes do not contribute meaningful statistical information for predicting player potential or performance metrics.
# Hence, they are considered irrelevant features and can be removed from the dataset to improve model efficiency and reduce noise during analysis.

['Name', 'Club', 'Jersey Number', 'Nationality']

**Task 3.Handle missing values(Find empty or 0 values in imp column and replace with mean.)**

In [ ]:
import numpy as np

# List of important columns
important_cols = [
    'Appearances', 'Goals', 'Assists', 'Shots', 'Passes',
    'Tackles', 'Interceptions', 'Dribbles', 'Crosses',
    'Minutes'
]

for col in important_cols:
    if col in df.columns:
        # Replace 0 with NaN so we can use mean()
        df[col].replace(0, np.nan, inplace=True)

        # Fill NaN values with mean of that column
        df[col].fillna(df[col].mean(), inplace=True)

print("Missing values handled successfully!")

Missing values handled successfully!

/tmp/ipython-input-2387653405.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace(0, np.nan, inplace=True)
/tmp/ipython-input-2387653405.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)