<a href="https://colab.research.google.com/github/springboardmentor1979b-cmyk/ScoreSight---Predicting-EPL-Points-Tally-Top-Scorer/blob/Megha-Bhat/Megha_EPL_ScoreSight.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [35]:
file_path=('/content/drive/MyDrive/dataset - 2020-09-24.csv')

In [36]:
import pandas as pd
df=pd.read_csv(file_path)

#**Basic Information about the dataset**

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 59 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    571 non-null    object
 1   Jersey Number           563 non-null    float64
 2   Club                    571 non-null    object
 3   Position                571 non-null    object
 4   Nationality             570 non-null    object
 5   Age                     570 non-null    float64
 6   Appearances             571 non-null    int64
 7   Wins                    571 non-null    int64
 8   Losses                  571 non-null    int64
 9   Goals                   571 non-null    int64
 10  Goals per match         309 non-null    float64
 11  Headed goals            502 non-null    float64
 12  Goals with right foot   502 non-null    float64
 13  Goals with left foot    502 non-null    float64
 14  Penalties scored        309 non-null    float64
 15  Freekicks scored        309 non-null    float64
 16  Shots                   309 non-null    float64
 17  Shots on target         309 non-null    float64
 18  Shooting accuracy %     309 non-null    object
 19  Hit woodwork            502 non-null    float64
 20  Big chances missed      309 non-null    float64
 21  Clean sheets            262 non-null    float64
 22  Goals conceded          262 non-null    float64
 23  Tackles                 502 non-null    float64
 24  Tackle success %        390 non-null    object
 25  Last man tackles        193 non-null    float64
 26  Blocked shots           502 non-null    float64
 27  Interceptions           502 non-null    float64
 28  Clearances              502 non-null    float64
 29  Headed Clearance        502 non-null    float64
 30  Clearances off line     193 non-null    float64
 31  Recoveries              390 non-null    float64
 32  Duels won               390 non-null    float64
 33  Duels lost              390 non-null    float64
 34  Successful 50/50s       390 non-null    float64
 35  Aerial battles won      390 non-null    float64
 36  Aerial battles lost     390 non-null    float64
 37  Own goals               262 non-null    float64
 38  Errors leading to goal  459 non-null    float64
 39  Assists                 571 non-null    int64
 40  Passes                  571 non-null    int64
 41  Passes per match        571 non-null    float64
 42  Big chances created     502 non-null    float64
 43  Crosses                 502 non-null    float64
 44  Cross accuracy %        390 non-null    object
 45  Through balls           390 non-null    float64
 46  Accurate long balls     459 non-null    float64
 47  Saves                   69 non-null     float64
 48  Penalties saved         69 non-null     float64
 49  Punches                 69 non-null     float64
 50  High Claims             69 non-null     float64
 51  Catches                 69 non-null     float64
 52  Sweeper clearances      69 non-null     float64
 53  Throw outs              69 non-null     float64
 54  Goal Kicks              69 non-null     float64
 55  Yellow cards            571 non-null    int64
 56  Red cards               571 non-null    int64
 57  Fouls                   571 non-null    int64
 58  Offsides                502 non-null    float64
dtypes: float64(43), int64(9), object(7)
memory usage: 263.3+ KB

In [38]:
df.describe()

,Jersey Number,Age,Appearances,Wins,Losses,Goals,Goals per match,Headed goals,Goals with right foot,Goals with left foot,...,Punches,High Claims,Catches,Sweeper clearances,Throw outs,Goal Kicks,Yellow cards,Red cards,Fouls,Offsides
count,563.000000,570.000000,571.000000,571.000000,571.000000,571.000000,309.000000,502.000000,502.000000,502.000000,...,69.000000,69.000000,69.000000,69.000000,69.000000,69.000000,571.000000,571.000000,571.000000,502.000000
mean,19.534636,25.789474,68.823117,28.957968,23.896673,7.327496,2.648414,1.414343,4.468127,2.388446,...,24.652174,45.869565,20.782609,25.565217,210.000000,414.144928,7.917688,0.301226,53.033275,11.063745
std,14.273515,4.377354,81.797516,38.969376,28.488376,16.810490,8.002117,3.433374,11.048341,6.295652,...,46.282644,82.332167,43.058397,47.333758,334.822473,641.246265,11.556811,0.698607,75.605560,26.570058
min,1.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.000000,22.000000,3.000000,1.000000,1.000000,0.000000,0.050000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,18.000000,26.000000,36.000000,12.000000,14.000000,1.000000,0.140000,0.000000,1.000000,0.000000,...,2.000000,6.000000,3.000000,4.000000,39.000000,53.000000,3.000000,0.000000,22.000000,2.000000
75%,27.000000,29.000000,108.000000,41.000000,36.000000,6.000000,0.390000,1.000000,3.000000,2.000000,...,31.000000,45.000000,17.000000,28.000000,300.000000,527.000000,11.000000,0.000000,74.000000,8.750000
max,82.000000,38.000000,539.000000,272.000000,158.000000,180.000000,57.000000,31.000000,127.000000,63.000000,...,269.000000,391.000000,249.000000,257.000000,1516.000000,2806.000000,81.000000,5.000000,438.000000,203.000000

In [39]:
df.head()

,Name,Jersey Number,Club,Position,Nationality,Age,Appearances,Wins,Losses,Goals,...,Punches,High Claims,Catches,Sweeper clearances,Throw outs,Goal Kicks,Yellow cards,Red cards,Fouls,Offsides
0,Bernd Leno,1.0,Arsenal,Goalkeeper,Germany,28.0,64,28,16,0,...,34.0,26.0,17.0,28.0,375.0,489.0,2,0,0,NaN
1,Matt Macey,33.0,Arsenal,Goalkeeper,England,26.0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN
2,Rúnar Alex Rúnarsson,13.0,Arsenal,Goalkeeper,Iceland,25.0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN
3,Héctor Bellerín,2.0,Arsenal,Defender,Spain,25.0,160,90,37,7,...,NaN,NaN,NaN,NaN,NaN,NaN,23,0,125,8.0
4,Kieran Tierney,3.0,Arsenal,Defender,Scotland,23.0,16,7,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,2,0,9,0.0

In [40]:
df.tail()

,Name,Jersey Number,Club,Position,Nationality,Age,Appearances,Wins,Losses,Goals,...,Punches,High Claims,Catches,Sweeper clearances,Throw outs,Goal Kicks,Yellow cards,Red cards,Fouls,Offsides
566,Pedro Neto,7.0,Wolverhampton-Wanderers,Forward,Portugal,20.0,31,14,7,3,...,NaN,NaN,NaN,NaN,NaN,NaN,3,0,16,5.0
567,Raúl Jiménez,9.0,Wolverhampton-Wanderers,Forward,Mexico,29.0,78,32,23,32,...,NaN,NaN,NaN,NaN,NaN,NaN,7,0,81,52.0
568,Adama Traoré,37.0,Wolverhampton-Wanderers,Forward,Spain,24.0,105,27,47,5,...,NaN,NaN,NaN,NaN,NaN,NaN,4,0,80,13.0
569,Fábio Silva,17.0,Wolverhampton-Wanderers,Forward,Portugal,18.0,1,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0.0
570,Leonardo Campana,30.0,Wolverhampton-Wanderers,Forward,Ecuador,20.0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0.0

In [41]:
df['Age']

0      28.0
1      26.0
2      25.0
3      25.0
4      23.0
       ...
566    20.0
567    29.0
568    24.0
569    18.0
570    20.0
Name: Age, Length: 571, dtype: float64

In [42]:
df.shape

(571, 59)

#List of Irrelevant columns

In [43]:
irrelevant=['Name','Jersey Number','Nationality','Tackles','Tackle success %','Last man tackles','Blocked shots','Interceptions',
'Clearances', 'Headed Clearance','Clearances off line','Recoveries','Duels won','Duels lost', 'Successful 50/50s', 'Aerial battles won', 'Aerial battles lost','Own goals', 'Errors leading to goal',
'Saves','Penalties saved','Punches', 'High Claims', 'Catches','Sweeper clearances','Throw outs','Goal Kicks','Yellow cards','Red cards','Fouls','Offsides'
]
df_relevant=df.drop(columns=irrelevant, axis=1)
df_relevant.columns

Index(['Club', 'Position', 'Age', 'Appearances', 'Wins', 'Losses', 'Goals',
       'Goals per match', 'Headed goals', 'Goals with right foot',
       'Goals with left foot', 'Penalties scored', 'Freekicks scored', 'Shots',
       'Shots on target', 'Shooting accuracy %', 'Hit woodwork',
       'Big chances missed', 'Clean sheets', 'Goals conceded', 'Assists',
       'Passes', 'Passes per match', 'Big chances created', 'Crosses',
       'Cross accuracy %', 'Through balls', 'Accurate long balls'],
      dtype='object')

In [44]:
df_relevant.isna().value_counts()

Club   Position  Age    Appearances  Wins   Losses  Goals  Goals per match  Headed goals  Goals with right foot  Goals with left foot  Penalties scored  Freekicks scored  Shots  Shots on target  Shooting accuracy %  Hit woodwork  Big chances missed  Clean sheets  Goals conceded  Assists  Passes  Passes per match  Big chances created  Crosses  Cross accuracy %  Through balls  Accurate long balls
False  False     False  False        False  False   False  False            False         False                  False                 False             False             False  False            False                False         False               True          True            False    False   False             False                False    False             False          False                  196
                                                           True             False         False                  False                 True              True              True   True             True                 False         True                False         False           False    False   False             False                False    False             False          False                  193
                                                           False            False         False                  False                 False             False             False  False            False                False         False               True          True            False    False   False             False                False    True              True           True                   112
                                                           True             True          True                   True                  True              True              True   True             True                 True          True                False         False           False    False   False             True                 True     True              True           False                   69
                 True   False        False  False   False  False            False         False                  False                 False             False             False  False            False                False         False               True          True            False    False   False             False                False    False             False          False                    1
Name: count, dtype: int64

In [45]:
df_relevant.isnull().sum()

Club                       0
Position                   0
Age                        1
Appearances                0
Wins                       0
Losses                     0
Goals                      0
Goals per match          262
Headed goals              69
Goals with right foot     69
Goals with left foot      69
Penalties scored         262
Freekicks scored         262
Shots                    262
Shots on target          262
Shooting accuracy %      262
Hit woodwork              69
Big chances missed       262
Clean sheets             309
Goals conceded           309
Assists                    0
Passes                     0
Passes per match           0
Big chances created       69
Crosses                   69
Cross accuracy %         181
Through balls            181
Accurate long balls      112
dtype: int64

##Removing null values and replacing it with mean

In [46]:
numerical = df_relevant.select_dtypes(include=['int64', 'float64']).columns
categorical= df_relevant.select_dtypes(include=['object']).columns

df_relevant[numerical] = df_relevant[numerical].mask(df_relevant == 0).fillna(df_relevant[numerical].mean())
df_relevant[categorical] = df_relevant[categorical].mask(df_relevant == 0).fillna(df_relevant[categorical].mode().iloc[0])

df_relevant.isnull().sum()

Club                     0
Position                 0
Age                      0
Appearances              0
Wins                     0
Losses                   0
Goals                    0
Goals per match          0
Headed goals             0
Goals with right foot    0
Goals with left foot     0
Penalties scored         0
Freekicks scored         0
Shots                    0
Shots on target          0
Shooting accuracy %      0
Hit woodwork             0
Big chances missed       0
Clean sheets             0
Goals conceded           0
Assists                  0
Passes                   0
Passes per match         0
Big chances created      0
Crosses                  0
Cross accuracy %         0
Through balls            0
Accurate long balls      0
dtype: int64

In [47]:
df_relevant.head()

,Club,Position,Age,Appearances,Wins,Losses,Goals,Goals per match,Headed goals,Goals with right foot,...,Clean sheets,Goals conceded,Assists,Passes,Passes per match,Big chances created,Crosses,Cross accuracy %,Through balls,Accurate long balls
0,Arsenal,Goalkeeper,28.0,64.000000,28.000000,16.000000,7.327496,2.648414,1.414343,4.468127,...,14.000000,82.000000,5.285464,1783.000000,27.860000,8.171315,121.920319,0%,8.576923,234.000000
1,Arsenal,Goalkeeper,26.0,68.823117,28.957968,23.896673,7.327496,2.648414,1.414343,4.468127,...,16.687023,75.694656,5.285464,2309.704028,25.895989,8.171315,121.920319,0%,8.576923,184.856209
2,Arsenal,Goalkeeper,25.0,68.823117,28.957968,23.896673,7.327496,2.648414,1.414343,4.468127,...,16.687023,75.694656,5.285464,2309.704028,25.895989,8.171315,121.920319,0%,8.576923,184.856209
3,Arsenal,Defender,25.0,160.000000,90.000000,37.000000,7.000000,2.648414,1.414343,4.000000,...,53.000000,166.000000,18.000000,7125.000000,44.530000,28.000000,389.000000,16%,31.000000,144.000000
4,Arsenal,Defender,23.0,16.000000,7.000000,5.000000,1.000000,2.648414,1.414343,4.468127,...,2.000000,16.000000,1.000000,519.000000,32.440000,1.000000,45.000000,18%,8.576923,22.000000

#Encode Categorical variables

In [51]:
categorical_cols = ['Club', 'Position']
df_encoded = pd.get_dummies(df_relevant, columns=categorical_cols, drop_first=True, dtype=int)

In [53]:
df_encoded.head()

,Age,Appearances,Wins,Losses,Goals,Goals per match,Headed goals,Goals with right foot,Goals with left foot,Penalties scored,...,Club_Newcastle-United,Club_Sheffield-United,Club_Southampton,Club_Tottenham-Hotspur,Club_West-Bromwich-Albion,Club_West-Ham-United,Club_Wolverhampton-Wanderers,Position_Forward,Position_Goalkeeper,Position_Midfielder
0,28.0,64.000000,28.000000,16.000000,7.327496,2.648414,1.414343,4.468127,2.388446,0.97411,...,0,0,0,0,0,0,0,0,1,0
1,26.0,68.823117,28.957968,23.896673,7.327496,2.648414,1.414343,4.468127,2.388446,0.97411,...,0,0,0,0,0,0,0,0,1,0
2,25.0,68.823117,28.957968,23.896673,7.327496,2.648414,1.414343,4.468127,2.388446,0.97411,...,0,0,0,0,0,0,0,0,1,0
3,25.0,160.000000,90.000000,37.000000,7.000000,2.648414,1.414343,4.000000,3.000000,0.97411,...,0,0,0,0,0,0,0,0,0,0
4,23.0,16.000000,7.000000,5.000000,1.000000,2.648414,1.414343,4.468127,1.000000,0.97411,...,0,0,0,0,0,0,0,0,0,0

In [50]:
df_encoded.columns

Index(['Name', 'Jersey Number', 'Nationality', 'Age', 'Appearances', 'Wins',
       'Losses', 'Goals', 'Goals per match', 'Headed goals',
       'Goals with right foot', 'Goals with left foot', 'Penalties scored',
       'Freekicks scored', 'Shots', 'Shots on target', 'Shooting accuracy %',
       'Hit woodwork', 'Big chances missed', 'Clean sheets', 'Goals conceded',
       'Tackles', 'Tackle success %', 'Last man tackles', 'Blocked shots',
       'Interceptions', 'Clearances', 'Headed Clearance',
       'Clearances off line', 'Recoveries', 'Duels won', 'Duels lost',
       'Successful 50/50s', 'Aerial battles won', 'Aerial battles lost',
       'Own goals', 'Errors leading to goal', 'Assists', 'Passes',
       'Passes per match', 'Big chances created', 'Crosses',
       'Cross accuracy %', 'Through balls', 'Accurate long balls', 'Saves',
       'Penalties saved', 'Punches', 'High Claims', 'Catches',
       'Sweeper clearances', 'Throw outs', 'Goal Kicks', 'Yellow cards',
       'Red cards', 'Fouls', 'Offsides', 'Club_Aston-Villa',
       'Club_Brighton-and-Hove-Albion', 'Club_Burnley', 'Club_Chelsea',
       'Club_Crystal-Palace', 'Club_Everton', 'Club_Fulham',
       'Club_Leeds-United', 'Club_Leicester-City', 'Club_Liverpool',
       'Club_Manchester-City', 'Club_Manchester-United',
       'Club_Newcastle-United', 'Club_Sheffield-United', 'Club_Southampton',
       'Club_Tottenham-Hotspur', 'Club_West-Bromwich-Albion',
       'Club_West-Ham-United', 'Club_Wolverhampton-Wanderers',
       'Position_Forward', 'Position_Goalkeeper', 'Position_Midfielder'],
      dtype='object')