<a href="https://colab.research.google.com/github/springboardmentor1979b-cmyk/ScoreSight---Predicting-EPL-Points-Tally-Top-Scorer/blob/main/Scoresight.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
file_path = '//content/drive/MyDrive/dataset - 2020-09-24.csv'

In [ ]:
import pandas as pd
df = pd.read_csv(file_path)
print(df)

                     Name  Jersey Number                     Club    Position  \
0              Bernd Leno            1.0                  Arsenal  Goalkeeper
1              Matt Macey           33.0                  Arsenal  Goalkeeper
2    Rúnar Alex Rúnarsson           13.0                  Arsenal  Goalkeeper
3         Héctor Bellerín            2.0                  Arsenal    Defender
4          Kieran Tierney            3.0                  Arsenal    Defender
..                    ...            ...                      ...         ...
566            Pedro Neto            7.0  Wolverhampton-Wanderers     Forward
567          Raúl Jiménez            9.0  Wolverhampton-Wanderers     Forward
568          Adama Traoré           37.0  Wolverhampton-Wanderers     Forward
569           Fábio Silva           17.0  Wolverhampton-Wanderers     Forward
570      Leonardo Campana           30.0  Wolverhampton-Wanderers     Forward

    Nationality   Age  Appearances  Wins  Losses  Goals  ...  Punches  \
0       Germany  28.0           64    28      16      0  ...     34.0
1       England  26.0            0     0       0      0  ...      0.0
2       Iceland  25.0            0     0       0      0  ...      0.0
3         Spain  25.0          160    90      37      7  ...      NaN
4      Scotland  23.0           16     7       5      1  ...      NaN
..          ...   ...          ...   ...     ...    ...  ...      ...
566    Portugal  20.0           31    14       7      3  ...      NaN
567      Mexico  29.0           78    32      23     32  ...      NaN
568       Spain  24.0          105    27      47      5  ...      NaN
569    Portugal  18.0            1     0       1      0  ...      NaN
570     Ecuador  20.0            0     0       0      0  ...      NaN

     High Claims  Catches  Sweeper clearances  Throw outs  Goal Kicks  \
0           26.0     17.0                28.0       375.0       489.0
1            0.0      0.0                 0.0         0.0         0.0
2            0.0      0.0                 0.0         0.0         0.0
3            NaN      NaN                 NaN         NaN         NaN
4            NaN      NaN                 NaN         NaN         NaN
..           ...      ...                 ...         ...         ...
566          NaN      NaN                 NaN         NaN         NaN
567          NaN      NaN                 NaN         NaN         NaN
568          NaN      NaN                 NaN         NaN         NaN
569          NaN      NaN                 NaN         NaN         NaN
570          NaN      NaN                 NaN         NaN         NaN

     Yellow cards  Red cards Fouls  Offsides
0               2          0     0       NaN
1               0          0     0       NaN
2               0          0     0       NaN
3              23          0   125       8.0
4               2          0     9       0.0
..            ...        ...   ...       ...
566             3          0    16       5.0
567             7          0    81      52.0
568             4          0    80      13.0
569             0          0     0       0.0
570             0          0     0       0.0

[571 rows x 59 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 59 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    571 non-null    object
 1   Jersey Number           563 non-null    float64
 2   Club                    571 non-null    object
 3   Position                571 non-null    object
 4   Nationality             570 non-null    object
 5   Age                     570 non-null    float64
 6   Appearances             571 non-null    int64
 7   Wins                    571 non-null    int64
 8   Losses                  571 non-null    int64
 9   Goals                   571 non-null    int64
 10  Goals per match         309 non-null    float64
 11  Headed goals            502 non-null    float64
 12  Goals with right foot   502 non-null    float64
 13  Goals with left foot    502 non-null    float64
 14  Penalties scored        309 non-null    float64
 15  Freekicks scored        309 non-null    float64
 16  Shots                   309 non-null    float64
 17  Shots on target         309 non-null    float64
 18  Shooting accuracy %     309 non-null    object
 19  Hit woodwork            502 non-null    float64
 20  Big chances missed      309 non-null    float64
 21  Clean sheets            262 non-null    float64
 22  Goals conceded          262 non-null    float64
 23  Tackles                 502 non-null    float64
 24  Tackle success %        390 non-null    object
 25  Last man tackles        193 non-null    float64
 26  Blocked shots           502 non-null    float64
 27  Interceptions           502 non-null    float64
 28  Clearances              502 non-null    float64
 29  Headed Clearance        502 non-null    float64
 30  Clearances off line     193 non-null    float64
 31  Recoveries              390 non-null    float64
 32  Duels won               390 non-null    float64
 33  Duels lost              390 non-null    float64
 34  Successful 50/50s       390 non-null    float64
 35  Aerial battles won      390 non-null    float64
 36  Aerial battles lost     390 non-null    float64
 37  Own goals               262 non-null    float64
 38  Errors leading to goal  459 non-null    float64
 39  Assists                 571 non-null    int64
 40  Passes                  571 non-null    int64
 41  Passes per match        571 non-null    float64
 42  Big chances created     502 non-null    float64
 43  Crosses                 502 non-null    float64
 44  Cross accuracy %        390 non-null    object
 45  Through balls           390 non-null    float64
 46  Accurate long balls     459 non-null    float64
 47  Saves                   69 non-null     float64
 48  Penalties saved         69 non-null     float64
 49  Punches                 69 non-null     float64
 50  High Claims             69 non-null     float64
 51  Catches                 69 non-null     float64
 52  Sweeper clearances      69 non-null     float64
 53  Throw outs              69 non-null     float64
 54  Goal Kicks              69 non-null     float64
 55  Yellow cards            571 non-null    int64
 56  Red cards               571 non-null    int64
 57  Fouls                   571 non-null    int64
 58  Offsides                502 non-null    float64
dtypes: float64(43), int64(9), object(7)
memory usage: 263.3+ KB

In [ ]:
df.shape

(571, 59)

In [ ]:
df.head(10)

,Name,Jersey Number,Club,Position,Nationality,Age,Appearances,Wins,Losses,Goals,...,Punches,High Claims,Catches,Sweeper clearances,Throw outs,Goal Kicks,Yellow cards,Red cards,Fouls,Offsides
0,Bernd Leno,1.0,Arsenal,Goalkeeper,Germany,28.0,64,28,16,0,...,34.0,26.0,17.0,28.0,375.0,489.0,2,0,0,NaN
1,Matt Macey,33.0,Arsenal,Goalkeeper,England,26.0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN
2,Rúnar Alex Rúnarsson,13.0,Arsenal,Goalkeeper,Iceland,25.0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN
3,Héctor Bellerín,2.0,Arsenal,Defender,Spain,25.0,160,90,37,7,...,NaN,NaN,NaN,NaN,NaN,NaN,23,0,125,8.0
4,Kieran Tierney,3.0,Arsenal,Defender,Scotland,23.0,16,7,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,2,0,9,0.0
5,William Saliba,4.0,Arsenal,Defender,France,19.0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0.0
6,Sokratis,5.0,Arsenal,Defender,Greece,32.0,44,21,11,3,...,NaN,NaN,NaN,NaN,NaN,NaN,18,0,56,1.0
7,Rob Holding,16.0,Arsenal,Defender,England,25.0,41,25,9,0,...,NaN,NaN,NaN,NaN,NaN,NaN,8,0,32,0.0
8,Shkodran Mustafi,20.0,Arsenal,Defender,Germany,28.0,99,52,26,7,...,NaN,NaN,NaN,NaN,NaN,NaN,28,0,117,7.0
9,Calum Chambers,21.0,Arsenal,Defender,England,25.0,139,47,57,6,...,NaN,NaN,NaN,NaN,NaN,NaN,28,1,137,2.0

In [ ]:
df.tail(3)

,Name,Jersey Number,Club,Position,Nationality,Age,Appearances,Wins,Losses,Goals,...,Punches,High Claims,Catches,Sweeper clearances,Throw outs,Goal Kicks,Yellow cards,Red cards,Fouls,Offsides
568,Adama Traoré,37.0,Wolverhampton-Wanderers,Forward,Spain,24.0,105,27,47,5,...,NaN,NaN,NaN,NaN,NaN,NaN,4,0,80,13.0
569,Fábio Silva,17.0,Wolverhampton-Wanderers,Forward,Portugal,18.0,1,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0.0
570,Leonardo Campana,30.0,Wolverhampton-Wanderers,Forward,Ecuador,20.0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0.0

In [ ]:
df.describe()

,Jersey Number,Age,Appearances,Wins,Losses,Goals,Goals per match,Headed goals,Goals with right foot,Goals with left foot,...,Punches,High Claims,Catches,Sweeper clearances,Throw outs,Goal Kicks,Yellow cards,Red cards,Fouls,Offsides
count,563.000000,570.000000,571.000000,571.000000,571.000000,571.000000,309.000000,502.000000,502.000000,502.000000,...,69.000000,69.000000,69.000000,69.000000,69.000000,69.000000,571.000000,571.000000,571.000000,502.000000
mean,19.534636,25.789474,68.823117,28.957968,23.896673,7.327496,2.648414,1.414343,4.468127,2.388446,...,24.652174,45.869565,20.782609,25.565217,210.000000,414.144928,7.917688,0.301226,53.033275,11.063745
std,14.273515,4.377354,81.797516,38.969376,28.488376,16.810490,8.002117,3.433374,11.048341,6.295652,...,46.282644,82.332167,43.058397,47.333758,334.822473,641.246265,11.556811,0.698607,75.605560,26.570058
min,1.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.000000,22.000000,3.000000,1.000000,1.000000,0.000000,0.050000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,18.000000,26.000000,36.000000,12.000000,14.000000,1.000000,0.140000,0.000000,1.000000,0.000000,...,2.000000,6.000000,3.000000,4.000000,39.000000,53.000000,3.000000,0.000000,22.000000,2.000000
75%,27.000000,29.000000,108.000000,41.000000,36.000000,6.000000,0.390000,1.000000,3.000000,2.000000,...,31.000000,45.000000,17.000000,28.000000,300.000000,527.000000,11.000000,0.000000,74.000000,8.750000
max,82.000000,38.000000,539.000000,272.000000,158.000000,180.000000,57.000000,31.000000,127.000000,63.000000,...,269.000000,391.000000,249.000000,257.000000,1516.000000,2806.000000,81.000000,5.000000,438.000000,203.000000

In [ ]:
df['Age']

0      28.0
1      26.0
2      25.0
3      25.0
4      23.0
       ...
566    20.0
567    29.0
568    24.0
569    18.0
570    20.0
Name: Age, Length: 571, dtype: float64

In [ ]:
df.columns

Index(['Name', 'Jersey Number', 'Club', 'Position', 'Nationality', 'Age',
       'Appearances', 'Wins', 'Losses', 'Goals', 'Goals per match',
       'Headed goals', 'Goals with right foot', 'Goals with left foot',
       'Penalties scored', 'Freekicks scored', 'Shots', 'Shots on target',
       'Shooting accuracy %', 'Hit woodwork', 'Big chances missed',
       'Clean sheets', 'Goals conceded', 'Tackles', 'Tackle success %',
       'Last man tackles', 'Blocked shots', 'Interceptions', 'Clearances',
       'Headed Clearance', 'Clearances off line', 'Recoveries', 'Duels won',
       'Duels lost', 'Successful 50/50s', 'Aerial battles won',
       'Aerial battles lost', 'Own goals', 'Errors leading to goal', 'Assists',
       'Passes', 'Passes per match', 'Big chances created', 'Crosses',
       'Cross accuracy %', 'Through balls', 'Accurate long balls', 'Saves',
       'Penalties saved', 'Punches', 'High Claims', 'Catches',
       'Sweeper clearances', 'Throw outs', 'Goal Kicks', 'Yellow cards',
       'Red cards', 'Fouls', 'Offsides'],
      dtype='object')

In [ ]:
for col in df.columns:
    print(col, "→", df[col].unique()[:10])

Name → ['Bernd Leno' 'Matt Macey' 'Rúnar Alex Rúnarsson' 'Héctor Bellerín'
 'Kieran Tierney' 'William Saliba' 'Sokratis' 'Rob Holding'
 'Shkodran Mustafi' 'Calum Chambers']
Jersey Number → [ 1. 33. 13.  2.  3.  4.  5. 16. 20. 21.]
Club → ['Arsenal' 'Aston-Villa' 'Brighton-and-Hove-Albion' 'Burnley' 'Chelsea'
 'Crystal-Palace' 'Everton' 'Fulham' 'Leeds-United' 'Leicester-City']
Position → ['Goalkeeper' 'Defender' 'Midfielder' 'Forward']
Nationality → ['Germany' 'England' 'Iceland' 'Spain' 'Scotland' 'France' 'Greece'
 'Brazil' 'Bosnia And Herzegovina' 'Uruguay']
Age → [28. 26. 25. 23. 19. 32. 33. 27. 22. 31.]
Appearances → [ 64   0 160  16  44  41  99 139 194  78]
Wins → [ 28   0  90   7  21  25  52  47 113  40]
Losses → [16  0 37  5 11  9 26 57 38 22]
Goals → [ 0  7  1  3  6 13  2 33  8 39]
Goals per match → [    nan 1.8e-01 5.0e-02 2.0e-02 4.7e+01 3.0e-02 5.7e+01 2.0e+00 6.0e-02
 4.0e-02]
Headed goals → [nan  0.  1.  6.  4.  3.  2. 14.  5.  8.]
Goals with right foot → [nan  4.  0.  2.  1.  6.  3. 30. 44. 33.]
Goals with left foot → [nan  3.  1.  0.  2. 25.  8.  5. 15.  6.]
Penalties scored → [nan  0.  2.  7.  1.  5. 21. 10.  9.  4.]
Freekicks scored → [nan  1.  0.  2.  4.  3.  7.  8.  6.]
Shots → [ nan 205.  46.  14.  44.  18.  27.   0. 144.  15.]
Shots on target → [nan 92. 12.  4.  5.  9.  0. 41.  3. 93.]
Shooting accuracy % → [nan '45%' '26%' '29%' '11%' '28%' '33%' '0%' '27%' '21%']
Hit woodwork → [nan  3.  0.  1.  2.  5.  7.  4.  8. 15.]
Big chances missed → [nan 26.  1.  2.  0. 31. 39.  3. 20.  4.]
Clean sheets → [14.  0. 53.  2.  9. 10. 26. 28. 64. 17.]
Goals conceded → [ 82.   0. 166.  16.  58.  45. 117. 170. 173.  86.]
Tackles → [ nan 214.  21.   0.  67.  50. 197. 257. 240. 112.]
Tackle success % → [nan '78%' '81%' '0%' '61%' '70%' '73%' '74%' '66%' '2%']
Last man tackles → [nan  1.  0.  2.  4.  5.  8.  3. 17. 18.]
Blocked shots → [nan 32.  1.  0.  4.  3. 14. 22. 59. 11.]
Interceptions → [ nan 208.  12.   0.  43.  54. 195. 247. 344.  72.]
Clearances → [ nan 304.  32.   0. 175. 170. 531. 537. 832. 111.]
Headed Clearance → [ nan 143.  12.   0.  82.  92. 345. 301. 443.  68.]
Clearances off line → [nan  3.  0.  1.  2.  5.  4.  6.  9. 10.]
Recoveries → [  nan  732.   63.    0.  173.  192.  455.  735. 1042.  365.]
Duels won → [ nan 611.  55.   0. 227. 176. 670. 703. 846. 284.]
Duels lost → [ nan 709.  38.   0. 160. 142. 416. 619. 680. 264.]
Successful 50/50s → [ nan 196.  12.   0.  11.  19.  26.  93.  80.  41.]
Aerial battles won → [ nan 161.  10.   0. 115.  96. 413. 301. 344.  97.]
Aerial battles lost → [ nan 215.  16.   0.  73.  64. 218. 240. 256.  80.]
Own goals → [ 0.  1. nan  2.  4.  3.  5.  6.]
Errors leading to goal → [ 7.  0.  1.  3.  4.  2. nan  5. 13.  8.]
Assists → [ 0 18  1  2  4  3  7 11 54 13]
Passes → [ 1783     0  7125   519  2416  2200  5907  5935 10165  3201]
Passes per match → [27.86  0.   44.53 32.44 54.91 53.66 59.67 42.7  52.4  41.04]
Big chances created → [nan 28.  1.  0.  4.  5.  9. 22. 18. 65.]
Crosses → [ nan 389.  45.   0.   1.   3. 210.  67. 123. 834.]
Cross accuracy % → [nan '16%' '18%' '0%' '1%' '67%' '20%' '28%' '35%' '21%']
Through balls → [ nan  31.   0.   2.   1.  13.   4.  79.   3. 121.]
Accurate long balls → [234.   0. 144.  22. 172. 116. 273. 304. 980.  67.]
Saves → [222.   0.  nan 408.   2.  15.  44. 340. 237. 142.]
Penalties saved → [ 1.  0. nan  3.  2.  4.  5.  7.  6.]
Punches → [34.  0. nan 40.  1.  2. 32. 29. 16. 15.]
High Claims → [ 26.   0.  nan  96.   1.   3.  22.  68. 100.  33.]
Catches → [17.  0. nan 73.  2.  6. 18.  9.  5. 96.]
Sweeper clearances → [28.  0. nan 53.  2.  4. 15. 45. 22. 16.]
Throw outs → [375.   0.  nan 436.   8.  29.  86. 491. 300. 320.]
Goal Kicks → [ 489.    0.   nan 1023.    5.   53.  103.  956.  605.  473.]
Yellow cards → [ 2  0 23 18  8 28 40 12 13 14]
Red cards → [0 1 3 2 4 5]
Fouls → [  0 125   9  56  32 117 137 212  74   3]
Offsides → [nan  8.  0.  1.  7.  2.  5. 16. 83. 13.]

In [ ]:
irrelevant = ['Jersey Number', 'Nationality']  # example
for col in irrelevant:
    if col in df.columns:
        print(col, "can be dropped")

Jersey Number can be dropped
Nationality can be dropped

In [ ]:
df = df.drop(columns=irrelevant, errors='ignore')

In [ ]:
df.isna().sum()

Name                        0
Club                        0
Position                    0
Age                         1
Appearances                 0
Wins                        0
Losses                      0
Goals                       0
Goals per match           262
Headed goals               69
Goals with right foot      69
Goals with left foot       69
Penalties scored          262
Freekicks scored          262
Shots                     262
Shots on target           262
Shooting accuracy %       262
Hit woodwork               69
Big chances missed        262
Clean sheets              309
Goals conceded            309
Tackles                    69
Tackle success %          181
Last man tackles          378
Blocked shots              69
Interceptions              69
Clearances                 69
Headed Clearance           69
Clearances off line       378
Recoveries                181
Duels won                 181
Duels lost                181
Successful 50/50s         181
Aerial battles won        181
Aerial battles lost       181
Own goals                 309
Errors leading to goal    112
Assists                     0
Passes                      0
Passes per match            0
Big chances created        69
Crosses                    69
Cross accuracy %          181
Through balls             181
Accurate long balls       112
Saves                     502
Penalties saved           502
Punches                   502
High Claims               502
Catches                   502
Sweeper clearances        502
Throw outs                502
Goal Kicks                502
Yellow cards                0
Red cards                   0
Fouls                       0
Offsides                   69
dtype: int64

In [ ]:
important_cols = ['Goals', 'Assists', 'Shots', 'Appearances']

for col in important_cols:
    print(col, (df[col] == 0).sum(), "zeros")

Goals 254 zeros
Assists 239 zeros
Shots 44 zeros
Appearances 90 zeros

In [ ]:
import numpy as np

for col in important_cols:
    df[col] = df[col].replace(0, np.nan)
    df[col] = df[col].fillna(df[col].mean())

In [ ]:
df.isna().sum()
df.describe()

,Age,Appearances,Wins,Losses,Goals,Goals per match,Headed goals,Goals with right foot,Goals with left foot,Penalties scored,...,Punches,High Claims,Catches,Sweeper clearances,Throw outs,Goal Kicks,Yellow cards,Red cards,Fouls,Offsides
count,570.000000,571.000000,571.000000,571.000000,571.000000,309.000000,502.000000,502.000000,502.000000,309.000000,...,69.000000,69.000000,69.000000,69.000000,69.000000,69.000000,571.000000,571.000000,571.000000,502.000000
mean,25.789474,81.700624,28.957968,23.896673,13.198738,2.648414,1.414343,4.468127,2.388446,0.974110,...,24.652174,45.869565,20.782609,25.565217,210.000000,414.144928,7.917688,0.301226,53.033275,11.063745
std,4.377354,76.177481,38.969376,28.488376,15.475645,8.002117,3.433374,11.048341,6.295652,3.355453,...,46.282644,82.332167,43.058397,47.333758,334.822473,641.246265,11.556811,0.698607,75.605560,26.570058
min,17.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22.000000,26.000000,1.000000,1.000000,5.000000,0.050000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,26.000000,72.000000,12.000000,14.000000,13.198738,0.140000,0.000000,1.000000,0.000000,0.000000,...,2.000000,6.000000,3.000000,4.000000,39.000000,53.000000,3.000000,0.000000,22.000000,2.000000
75%,29.000000,108.000000,41.000000,36.000000,13.198738,0.390000,1.000000,3.000000,2.000000,0.000000,...,31.000000,45.000000,17.000000,28.000000,300.000000,527.000000,11.000000,0.000000,74.000000,8.750000
max,38.000000,539.000000,272.000000,158.000000,180.000000,57.000000,31.000000,127.000000,63.000000,27.000000,...,269.000000,391.000000,249.000000,257.000000,1516.000000,2806.000000,81.000000,5.000000,438.000000,203.000000