In [1]:
import pandas as pd

df = pd.read_csv("epl_players_cleaned.csv")
df.head()

,Name,Jersey Number,Club,Position,Nationality,Age,Appearances,Wins,Losses,Goals,...,Punches,High Claims,Catches,Sweeper clearances,Throw outs,Goal Kicks,Yellow cards,Red cards,Fouls,Offsides
0,Bernd Leno,1.0,Arsenal,Goalkeeper,Germany,28.0,64.000000,28,16,13.198738,...,34.0,26.0,17.0,28.0,375.0,489.0,2,0,0,NaN
1,Matt Macey,33.0,Arsenal,Goalkeeper,England,26.0,81.700624,0,0,13.198738,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN
2,Rúnar Alex Rúnarsson,13.0,Arsenal,Goalkeeper,Iceland,25.0,81.700624,0,0,13.198738,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN
3,Héctor Bellerín,2.0,Arsenal,Defender,Spain,25.0,160.000000,90,37,7.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,23,0,125,8.0
4,Kieran Tierney,3.0,Arsenal,Defender,Scotland,23.0,16.000000,7,5,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,2,0,9,0.0

In [2]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

df['Club_encoded'] = encoder.fit_transform(df['Club'])
df['Position_encoded'] = encoder.fit_transform(df['Position'])

In [4]:
df.drop(['Club', 'Position'], axis=1, inplace=True)

In [5]:
df.head()

,Name,Jersey Number,Nationality,Age,Appearances,Wins,Losses,Goals,Goals per match,Headed goals,...,Catches,Sweeper clearances,Throw outs,Goal Kicks,Yellow cards,Red cards,Fouls,Offsides,Club_encoded,Position_encoded
0,Bernd Leno,1.0,Germany,28.0,64.000000,28,16,13.198738,NaN,NaN,...,17.0,28.0,375.0,489.0,2,0,0,NaN,0,2
1,Matt Macey,33.0,England,26.0,81.700624,0,0,13.198738,NaN,NaN,...,0.0,0.0,0.0,0.0,0,0,0,NaN,0,2
2,Rúnar Alex Rúnarsson,13.0,Iceland,25.0,81.700624,0,0,13.198738,NaN,NaN,...,0.0,0.0,0.0,0.0,0,0,0,NaN,0,2
3,Héctor Bellerín,2.0,Spain,25.0,160.000000,90,37,7.000000,NaN,0.0,...,NaN,NaN,NaN,NaN,23,0,125,8.0,0,0
4,Kieran Tierney,3.0,Scotland,23.0,16.000000,7,5,1.000000,NaN,0.0,...,NaN,NaN,NaN,NaN,2,0,9,0.0,0,0

In [6]:
df.to_csv("encoded_epl_player.csv", index=False)