In [1]:
import joblib
import pandas as pd

rf_model = joblib.load("rf_regression_model.pkl")
gb_model = joblib.load("gb_classification_model.pkl")

In [2]:
df = pd.read_csv("../Week-4_Feature_Scaling/minmax_scaled_epl.csv")
sample = df.sample(5)
sample

,Name,Jersey Number,Nationality,Age,Appearances,Wins,Losses,Goals,Goals per match,Headed goals,...,Catches,Sweeper clearances,Throw outs,Goal Kicks,Yellow cards,Red cards,Fouls,Offsides,Club_encoded,Position_encoded
355,Chris Smalling,12.0,England,30.0,0.405204,122,56,0.061453,NaN,8.0,...,NaN,NaN,NaN,NaN,18,1,192,14.0,12,0
368,Fred,17.0,Brazil,27.0,0.083643,22,14,0.000000,0.02,0.0,...,NaN,NaN,NaN,NaN,10,0,67,2.0,12,3
88,Aaron Connolly,7.0,Ireland,20.0,0.046468,8,12,0.016760,0.15,0.0,...,NaN,NaN,NaN,NaN,0,0,17,16.0,2,1
564,Vitinha,20.0,Portugal,20.0,0.000000,1,0,0.068149,1.00,0.0,...,NaN,NaN,NaN,NaN,0,0,0,0.0,19,3
163,James McCarthy,22.0,Ireland,29.0,0.477695,87,102,0.067039,0.05,0.0,...,NaN,NaN,NaN,NaN,48,1,309,2.0,5,3

In [3]:
sample['Predicted_Goals'] = rf_model.predict(
    sample[['Appearances', 'Shots', 'Passes', 'Assists']]
)

sample['Predicted_Result'] = gb_model.predict(
    sample[['Shots', 'Passes', 'Assists']]
)

sample

,Name,Jersey Number,Nationality,Age,Appearances,Wins,Losses,Goals,Goals per match,Headed goals,...,Throw outs,Goal Kicks,Yellow cards,Red cards,Fouls,Offsides,Club_encoded,Position_encoded,Predicted_Goals,Predicted_Result
355,Chris Smalling,12.0,England,30.0,0.405204,122,56,0.061453,NaN,8.0,...,NaN,NaN,18,1,192,14.0,12,0,0.049323,0
368,Fred,17.0,Brazil,27.0,0.083643,22,14,0.000000,0.02,0.0,...,NaN,NaN,10,0,67,2.0,12,3,0.014719,0
88,Aaron Connolly,7.0,Ireland,20.0,0.046468,8,12,0.016760,0.15,0.0,...,NaN,NaN,0,0,17,16.0,2,1,0.019346,0
564,Vitinha,20.0,Portugal,20.0,0.000000,1,0,0.068149,1.00,0.0,...,NaN,NaN,0,0,0,0.0,19,3,0.067764,0
163,James McCarthy,22.0,Ireland,29.0,0.477695,87,102,0.067039,0.05,0.0,...,NaN,NaN,48,1,309,2.0,5,3,0.097271,0