In [5]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
import numpy as np

df = pd.read_csv(
    "/content/drive/MyDrive/infosys internship/dataset - 2020-09-24.csv"
)

df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,Name,Jersey Number,Club,Position,Nationality,Age,Appearances,Wins,Losses,Goals,...,Punches,High Claims,Catches,Sweeper clearances,Throw outs,Goal Kicks,Yellow cards,Red cards,Fouls,Offsides
0,Bernd Leno,1.0,Arsenal,Goalkeeper,Germany,28.0,64,28,16,0,...,34.0,26.0,17.0,28.0,375.0,489.0,2,0,0,NaN
1,Matt Macey,33.0,Arsenal,Goalkeeper,England,26.0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN
2,Rúnar Alex Rúnarsson,13.0,Arsenal,Goalkeeper,Iceland,25.0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN
3,Héctor Bellerín,2.0,Arsenal,Defender,Spain,25.0,160,90,37,7,...,NaN,NaN,NaN,NaN,NaN,NaN,23,0,125,8.0
4,Kieran Tierney,3.0,Arsenal,Defender,Scotland,23.0,16,7,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,2,0,9,0.0

 ## WEEK-2 TASK

Handle Missing & Zero Values

In [9]:
important_cols = ['Goals', 'Assists', 'Appearances', 'Shots', 'Passes']

for col in important_cols:
    df[col] = df[col].replace(0, np.nan)
    mean_val = df[col].mean()
    df[col] = df[col].fillna(mean_val)

In [10]:
df[important_cols].isnull().sum()

Goals          0
Assists        0
Appearances    0
Shots          0
Passes         0
dtype: int64

## Save CLEANED Dataset to Google Drive

In [11]:
cleaned_path = "/content/drive/MyDrive/infosys internship/epl_players_cleaned.csv"
df.to_csv(cleaned_path, index=False)

print("Cleaned dataset saved successfully!")

Cleaned dataset saved successfully!